/* begin Page */
body
{
  background: #252C32 url('../Images/page_t.jpg') left top;
  margin: 0 auto;
  padding: 0;
  font-family: "Century Gothic",Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  color : #21272C;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited,
.sm-postheader, .sm-postheader a, .sm-postheader a:link, .sm-postheader a:visited, .sm-postheader a:hover,
.sm-blockheader .t, .sm-vmenublockheader .t, .sm-logo-text, .sm-logo-text a,
h1.sm-logo-name, h1.sm-logo-name a, h1.sm-logo-name a:link, h1.sm-logo-name a:visited, h1.sm-logo-name a:hover
{
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  font-size: 29px;
}

a
{
  text-decoration: none;
  color: #276282;
}

a:link
{
  text-decoration: none;
  color: #276282;
}

a:visited, a.visited
{

  color: #5F7181;
}

a:hover, a.hover
{

  color: #3482AD;
}

h1, h1 a, h1 a:link, h1 a:visited, h1 a:hover
{

  color: #276282;
}

h2, h2 a, h2 a:link, h2 a:visited, h2 a:hover
{
  font-size: 22px;
  color: #276282;
}

h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover
{
  font-size: 17px;
  color: #4F7492;
}

h4, h4 a, h4 a:link, h4 a:visited, h4 a:hover
{
  font-size: 14px;
  color: #21272C;
}

h5, h5 a, h5 a:link, h5 a:visited, h5 a:hover
{
  font-size: 12px;
  color: #21272C;
}

h6, h6 a, h6 a:link, h6 a:visited, h6 a:hover
{
  font-size: 10px;
  color: #21272C;
}

#sm-main
{
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  cursor:default;
}

#sm-page-background-glare
{
  position: absolute;
  width: 100%;
  height: 512px;
  left: 0;
  top: 0;
}

#sm-page-background-glare-image
{
  background-image: url('../Images/page_gl.png');
  background-repeat: no-repeat;
  height: 512px;
  width: 601px;
  margin: 0;
}

html:first-child #sm-page-background-glare
{
  border: 1px solid transparent;/* Opera fix */
}

#sm-page-background-gradient
{
  background-position: top left;
}

.cleared
{
  float: none;
  clear: both;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 1px;
}

form
{
  padding: 0 !important;
  margin: 0 !important;
}

table.position
{
  position: relative;
  width: 100%;
  table-layout: fixed;
}
/* end Page */

/* begin Box, Sheet */
.sm-sheet
{
  position: relative;
  z-index: 0;
  margin: 0 auto;
  width: 900px;
  min-width: 57px;
  min-height: 57px;
}

.sm-sheet-body
{
  position: relative;
  z-index: 1;
  padding: 10px;
}

.sm-sheet-tr, .sm-sheet-tl, .sm-sheet-br, .sm-sheet-bl, .sm-sheet-tc, .sm-sheet-bc,.sm-sheet-cr, .sm-sheet-cl
{
  position: absolute;
  z-index: -1;
}

.sm-sheet-tr, .sm-sheet-tl, .sm-sheet-br, .sm-sheet-bl
{
  width: 76px;
  height: 76px;
  background-image: url('../Images/sheet_s.png');
}

.sm-sheet-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 38px, 38px, auto);
}

.sm-sheet-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 38px, 38px);
}

.sm-sheet-bl
{
  bottom: 0;
  left: 0;
  clip: rect(38px, 38px, auto, auto);
}

.sm-sheet-br
{
  bottom: 0;
  right: 0;
  clip: rect(38px, auto, auto, 38px);
}

.sm-sheet-tc, .sm-sheet-bc
{
  left: 38px;
  right: 38px;
  height: 76px;
  background-image: url('../Images/sheet_h.png');
}

.sm-sheet-tc
{
  top: 0;
  clip: rect(auto, auto, 38px, auto);
}

.sm-sheet-bc
{
  bottom: 0;
  clip: rect(38px, auto, auto, auto);
}

.sm-sheet-cr, .sm-sheet-cl
{
  top: 38px;
  bottom: 38px;
  width: 76px;
  background-image: url('../Images/sheet_v.png');
}

.sm-sheet-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 38px);
}

.sm-sheet-cl
{
  left: 0;
  clip: rect(auto, 38px, auto, auto);
}

.sm-sheet-cc
{
  position: absolute;
  z-index: -1;
  top: 38px;
  left: 38px;
  right: 38px;
  bottom: 38px;
  background-color: #FFFFFF;
}

.sm-sheet
{
  margin-top: 30px !important;
  cursor:auto;
}

#sm-page-background-simple-gradient, #sm-page-background-gradient, #sm-page-background-glare
{
  min-width: 900px;
}

/* end Box, Sheet */

/* begin Header */
div.sm-header
{
  margin: 0 auto;
  position: relative;
  z-index: 0;
  width: 880px;
  height: 150px;
  overflow: hidden;
}

div.sm-header-png
{
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 880px;
  height: 150px;
  background-image: url('../Images/header.png');
  background-repeat: no-repeat;
  background-position: left top;
}

div.sm-header-jpeg
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 880px;
  height: 150px;
  background-image: url('../Images/header.jpg');
  background-repeat: no-repeat;
  background-position: center center;
}

/* end Header */

/* begin Logo */
.sm-logo
{
  display: block;
  position: absolute;
  left: 18px;
  top: 33px;
  width: 862px;
}

h1.sm-logo-name
{
  display: block;
  text-align: left;
}

h1.sm-logo-name, h1.sm-logo-name a, h1.sm-logo-name a:link, h1.sm-logo-name a:visited, h1.sm-logo-name a:hover
{
  font-size: 43px;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: #102937 !important;
}

.sm-logo-text
{
  display: block;
  text-align: left;
}

.sm-logo-text, .sm-logo-text a
{
  font-size: 19px;
  padding: 0;
  margin: 0;
  color: #102937 !important;
}
/* end Logo */

/* begin Layout */
.sm-content-layout
{
  display: table;
  padding: 0;
  border: none;
  width: 880px;
}

.sm-content-layout .sm-content-layout
{
  width: auto;
  margin:0;
}

div.sm-content-layout div.sm-layout-cell, div.sm-content-layout div.sm-layout-cell div.sm-content-layout div.sm-layout-cell
{
   display: table-cell;
}

div.sm-layout-cell div.sm-layout-cell
{
   display: block;
}

div.sm-content-layout-row
{
  display: table-row; 
}

.sm-content-layout
{
  table-layout: fixed;
  border-collapse: collapse;
  background-color: Transparent;
  border: none !important;
  padding:0 !important;
}

.sm-layout-cell, .sm-content-layout-row
{
  background-color: Transparent;
  vertical-align: top;
  text-align: left;
  border: none !important;
  margin:0 !important;
  padding:0 !important;
}
/* end Layout */

/* begin Box, Block, VMenuBlock */
.sm-vmenublock
{
  position: relative;
  z-index: 0;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.sm-vmenublock-body
{
  position: relative;
  z-index: 1;
  padding: 0;
}


.sm-vmenublock
{
  margin: 7px;
}

/* end Box, Block, VMenuBlock */

/* begin BlockHeader, VMenuBlockHeader */
.sm-vmenublockheader
{
  position: relative;
  z-index: 0;
  height: 36px;
  margin-bottom: 0;
}

.sm-vmenublockheader .t
{
  height: 36px;
  color: #485561;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 12px;
  margin:0;
  padding: 0 30px 0 10px;
  white-space: nowrap;
  line-height: 36px;	
}

.sm-vmenublockheader .l, .sm-vmenublockheader .r
{
  display: block;
  position: absolute;
  z-index: -1;
  height: 36px;
  background-image: url('../Images/vmenublockheader.png');
}

.sm-vmenublockheader .l
{
  left: 0;
  right: 24px;
}

.sm-vmenublockheader .r
{
  width: 880px;
  right: 0;
  clip: rect(auto, auto, auto, 856px);
}

/* end BlockHeader, VMenuBlockHeader */

/* begin Box, Box, VMenuBlockContent */
.sm-vmenublockcontent
{
  position: relative;
  z-index: 0;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.sm-vmenublockcontent-body
{
  position: relative;
  z-index: 1;
  padding: 0;
}

.sm-vmenublockcontent-body
{
  position: relative;
  z-index: 1;
  padding: 0;
}

/* end Box, Box, VMenuBlockContent */

.sm-login-block
{
    padding: 15px;
    background-color: #9CB5C9;
    margin: 2px 1px 2px 3px;
}

input[type="text"], input[type="password"], select
{
    background-image:url('../Images/textinputbg.png');
    border:solid 1px Gray;
}

textarea
{
    background-image:url('../Images/textareabg.png');
    border:solid 1px Gray;
}

/* begin VMenu */
ul.sm-vmenu, ul.sm-vmenu li
{
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto;
  line-height: 0;
}

ul.sm-vmenu ul
{
  display: block;
}

ul.sm-vmenu ul.active
{
  display: block;
}
/* end VMenu */

/* begin VMenuItem */
ul.sm-vmenu a
{
  position: relative;
  display: block;
  overflow: hidden;
  height: 32px;
  cursor: pointer;
  text-decoration: none;
}

ul.sm-vmenu li.sm-vmenu-separator
{
  display: block;
  padding: 2px 0 2px 0;
  margin: 0;
  font-size: 1px;
}

ul.sm-vmenu .sm-vmenu-separator-span
{
  display: block;
  padding: 0;
  font-size: 1px;
  height: 0;
  line-height: 0;
  border: none;
}

ul.sm-vmenu a .r, ul.sm-vmenu a .l
{
  position: absolute;
  display: block;
  top: 0;
  z-index: -1;
  height: 96px;
  background-image: url('../Images/vmenuitem.png');
}

ul.sm-vmenu a .l
{
  left: 0;
  right: 32px;
}

ul.sm-vmenu a .r
{
  width: 910px;
  right: 0;
  clip: rect(auto, auto, auto, 878px);
}

ul.sm-vmenu a .t
{
  display: block;
  line-height: 32px;
  color: #576775;
  padding: 0 12px 0 42px;
  font-size: 11px;
  margin-left:0;
  margin-right:0;
}

ul.sm-vmenu a:hover .l, ul.sm-vmenu a:hover .r
{
  top: -32px;
}

ul.sm-vmenu a:hover .t
{
  color: #D1DCE6;
}

ul.sm-vmenu a.active .l, ul.sm-vmenu a.active .r
{
  top: -64px;
}

ul.sm-vmenu a.active .t
{
  color: #235976;
}
/* end VMenuItem */

/* begin VMenuSubItem */
ul.sm-vmenu ul, ul.sm-vmenu ul li
{
  margin: 0;
  padding: 0;
}

ul.sm-vmenu ul a
{
  display: block;
  white-space: nowrap;
  height: 24px;
  overflow: visible;
  background-image: url('../Images/vsubitem.gif');
  background-position: 25px 0;
  background-repeat: repeat-x;
  padding-left: 42px;
}


ul.sm-vmenu ul span, ul.sm-vmenu ul span span
{
  display: inline;
  float: none;
  margin: inherit;
  padding: inherit;
  background-image: none;
  text-align: inherit;
  text-decoration: inherit;
}

ul.sm-vmenu ul a, ul.sm-vmenu ul a:link, ul.sm-vmenu ul a:visited, ul.sm-vmenu ul a:hover, ul.sm-vmenu ul a:active, ul.sm-vmenu ul span, ul.sm-vmenu ul span span
{
  line-height: 24px;
  color: #485561;
  font-size: 10px;
  margin-left: 0;
}

ul.sm-vmenu ul
{
    margin:0 2px 0 2px;
}

ul.sm-vmenu ul ul
{
  margin:0 0 0 0;
}

ul.sm-vmenu ul li.sm-vsubmenu-separator
{ 
  display: block;
  margin: 0;
  font-size: 1px;
  padding: 0 0 0 0;
 }

ul.sm-vmenu ul .sm-vsubmenu-separator-span
{
  display: block;
  padding: 0;
  font-size: 1px;
  height: 0;
  line-height: 0;
  margin: 0;
  border: none;
}

ul.sm-vmenu ul li li a
{
  background-position: 50px 0;
  padding-left: 67px;
}

ul.sm-vmenu ul li li li a
{
  background-position: 75px 0;
  padding-left: 92px;
}

ul.sm-vmenu ul li li li li a
{
  background-position: 100px 0;
  padding-left: 117px;
}

ul.sm-vmenu ul li li li li li a
{
  background-position: 125px 0;
  padding-left: 142px;
}


ul.sm-vmenu ul li a.active
{
  color: #245C7A;
  background-position: 25px -48px;
}

ul.sm-vmenu ul li li a.active
{
  background-position: 50px -48px;
}

ul.sm-vmenu ul li li li a.active
{
  background-position: 75px -48px;
}

ul.sm-vmenu ul li li li li a.active
{
  background-position: 100px -48px;
}

ul.sm-vmenu ul li li li li li a.active
{
  background-position: 125px -48px;
}



ul.sm-vmenu ul li a:hover, ul.sm-vmenu ul li a:hover.active
{
  color: #3B576D;
  background-position: 25px -24px;
}


ul.sm-vmenu ul li li a:hover, ul.sm-vmenu ul li li a:hover.active
{
  background-position: 50px -24px;
}

ul.sm-vmenu ul li li li a:hover, ul.sm-vmenu ul li li li a:hover.active
{
  background-position: 75px -24px;
}

ul.sm-vmenu ul li li li li a:hover, ul.sm-vmenu ul li li li li a:hover.active
{
  background-position: 100px -24px;
}

ul.sm-vmenu ul li li li li li a:hover, ul.sm-vmenu ul li li li li li a:hover.active
{
  background-position: 125px -24px;
}
/* end VMenuSubItem */

/* begin Box, Block */
.sm-block
{
  position: relative;
  z-index: 0;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.sm-block-body
{
  position: relative;
  z-index: 1;
  padding: 7px;
}


.sm-block
{
  margin: 7px;
}

/* end Box, Block */

/* begin Box, BlockContent */
.sm-blockcontent
{
  position: relative;
  z-index: 0;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.sm-blockcontent-body
{
  position: relative;
  z-index: 1;
  padding: 0;
}


.sm-blockcontent-body
{
  color: #1C2126;
  font-size: 12px;
}

.sm-blockcontent-body a:link
{
  color: #235976;

}

.sm-blockcontent-body a:visited, .sm-blockcontent-body a.visited
{
  color: #6C8193;
  text-decoration: none;
}

.sm-blockcontent-body a:hover, .sm-blockcontent-body a.hover
{
  color: #2F779D;
  text-decoration: none;
}

.sm-blockcontent-body ul
{
  list-style-type: none;
  color: #0F2733;
  margin: 0;
  padding: 0;
}

.sm-blockcontent-body ul li
{
  line-height: 1.25em;
  padding: 0 0 0 14px;
  background-image: url('../Images/blockcontentbullets.png');
  background-repeat: no-repeat;
}


/* end Box, BlockContent */

/* begin Button */
.sm-button-wrapper .sm-button
{
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-align: left;
  text-decoration: none !important;
  color: #E8EBEE !important;
  width: auto;
  outline: none;
  border: none;
  background: none;
  line-height: 30px;
  height: 30px;
  margin: 0;
  padding: 0 20px !important;
  overflow: visible;
  cursor: pointer;
  z-index: 0;  
}

.sm-button img, .sm-button-wrapper img
{
  margin: 0;
  vertical-align: middle;
}

.sm-button-wrapper
{
  vertical-align: middle;
  display: inline-block;
  position: relative;
  height: 30px;
  overflow: hidden;
  white-space: nowrap;
  width: auto;
  margin-top: 10px;
  padding: 0;
  z-index: 0;
}

.firefox2 .sm-button-wrapper
{
  display: block;
  float: left;
}

input, select, textarea, select
{
  vertical-align: middle;
  font-size: 12px;
}

.sm-block select 
{
    width:96%;
}

.sm-button-wrapper.hover .sm-button, .sm-button:hover
{
  color: #F3F9FB !important;
  text-decoration: none !important;
}

.sm-button-wrapper.active .sm-button
{
  color: #EEF3F6 !important;
}

.sm-button-wrapper .l, .sm-button-wrapper .r
{
  display: block;
  position: absolute;
  z-index: -1;
  height: 90px;
  margin: 0;
  padding: 0;
  background-image: url('../Images/button.png');
}

.sm-button-wrapper .l
{
  left: 0;
  right: 12px;
}

.sm-button-wrapper .r
{
  width: 425px;
  right: 0;
  clip: rect(auto, auto, auto, 413px);
}

.sm-button-wrapper.hover .l, .sm-button-wrapper.hover .r
{
  top: -30px;
}

.sm-button-wrapper.active .l, .sm-button-wrapper.active .r
{
  top: -60px;
}

.sm-button-wrapper input
{
  float: none !important;
}
/* end Button */

/* begin Box, Post */
.sm-post
{
  position: relative;
  z-index: 0;
  margin: 0 auto;
  min-width: 13px;
  min-height: 13px;
}

.sm-post-body
{
  position: relative;
  z-index: 1;
  padding: 15px;
}

.sm-post-tr, .sm-post-tl, .sm-post-br, .sm-post-bl, .sm-post-tc, .sm-post-bc,.sm-post-cr, .sm-post-cl
{
  position: absolute;
  z-index: -1;
}

.sm-post-tr, .sm-post-tl, .sm-post-br, .sm-post-bl
{
  width: 12px;
  height: 12px;
  background-image: url('../Images/post_s.png');
}

.sm-post-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 6px, 6px, auto);
}

.sm-post-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 6px, 6px);
}

.sm-post-bl
{
  bottom: 0;
  left: 0;
  clip: rect(6px, 6px, auto, auto);
}

.sm-post-br
{
  bottom: 0;
  right: 0;
  clip: rect(6px, auto, auto, 6px);
}

.sm-post-tc, .sm-post-bc
{
  left: 6px;
  right: 6px;
  height: 12px;
  background-image: url('../Images/post_h.png');
}

.sm-post-tc
{
  top: 0;
  clip: rect(auto, auto, 6px, auto);
}

.sm-post-bc
{
  bottom: 0;
  clip: rect(6px, auto, auto, auto);
}

.sm-post-cr, .sm-post-cl
{
  top: 6px;
  bottom: 6px;
  width: 12px;
  background-image: url('../Images/post_v.png');
}

.sm-post-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 6px);
}

.sm-post-cl
{
  left: 0;
  clip: rect(auto, 6px, auto, auto);
}

.sm-post-cc
{
  position: absolute;
  z-index: -1;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background-color: #EEF3F6;
}

.sm-post
{
  margin: 10px;
}

a img
{
  border: 0;
}

.sm-article img, img.sm-article
{
  border: solid 1px #9CB5C9;
  margin: 5px;
}

.sm-metadata-icons img
{
  border: none;
  vertical-align: middle;
  margin: 2px;
}

.sm-article table, table.sm-article
{
  border-collapse: collapse;
  margin: 1px;
  width: auto;
}

.sm-article table, table.sm-article .sm-article tr, .sm-article th, .sm-article td
{
  background-color: Transparent;
}

.sm-article th, .sm-article td
{
  padding: 3px;
  border: solid 1px #758899;
  vertical-align: middle;
  /*text-align: left;*/
}

.sm-article th
{
  /*text-align: center;*/
  vertical-align: middle;
  padding: 3px;
}

pre
{
  overflow: auto;
  padding: 0.1em;
}

/* end Box, Post */

/* begin PostHeaderIcon */
.sm-postheader
{
  margin: 0.2em 0;
  padding: 0;
  font-size: 22px;
  color: #1B445A;
}

.sm-postheader a, .sm-postheader a:link, .sm-postheader a:visited, .sm-postheader a:hover
{
  font-size: 22px;
  margin: 0;
  color: #1B445A;
}

.sm-postheader img
{
  border: none;
  vertical-align: middle;
  margin: 0;
}
/* end PostHeaderIcon */

/* begin PostHeader */
.sm-postheader a:link
{
  text-align: left;
  color: #21536E;
}

.sm-postheader a:visited, .sm-postheader a.visited
{

  color: #527998;
}

.sm-postheader a:hover, .sm-postheader a.hovered
{

  color: #3482AD;
}
/* end PostHeader */

/* begin PostContent */
.sm-postcontent p
{
  margin: 0.5em 0;
}

.sm-postcontent
{
  margin-top: 15px;
}
/* end PostContent */

/* begin PostBullets */
ol, ul
{
  color: #0F1215;
  margin: 1em 0 1em 2em;
  padding: 0;
  font-size: 12px;
}

li ol, li ul
{
  margin: 0.5em 0 0.5em 2em;
  padding: 0;
}

li
{
  margin: 0.2em 0;
  padding: 0;
}

ul
{
  list-style-type: none;
}

ol
{
  list-style-position: inside;

}

.sm-post li
{
  padding: 0 0 0 14px;
  line-height: 1em;
}

.sm-post ol li, .sm-post ul ol li
{
  background: none;
  padding-left: 0;
}

.sm-post ul li, .sm-post ol ul li
{
  background-image: url('../Images/postbullets.png');
  background-repeat: no-repeat;
  padding-left: 14px;
}


/* end PostBullets */

/* begin PostQuote */
blockquote,
blockquote p,
.sm-postcontent blockquote p
{
  color: #071218;

}

blockquote,
.sm-postcontent blockquote
{
  border: solid 1px #9CB5C9;
  margin: 10px 10px 10px 50px;
  padding: 5px 5px 5px 41px;
  background-color: #D7E1EA;
  background-image: url('../Images/postquote.png');
  background-position: left top;
  background-repeat: no-repeat;
}

/* end PostQuote */

/* begin Footer */
.sm-footer
{
  position: relative;
  z-index: 0;
  overflow: hidden;
  width: 880px;
  margin: 0 auto;
}

.sm-footer .sm-footer-inner
{
  height: 1%;
  position: relative;
  z-index: 0;
  padding: 15px;
  text-align: center;
}

.sm-footer .sm-footer-background
{
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-image: url('../Images/footer.png');
  width: 880px;
  height: 150px;
  bottom: 0;
  left: 0;
}


.sm-tag-icon
{
  position: relative;
  display: block;
  float: left;
  background-image: url('../Images/smicon.png');
  background-position: right 50%;
  background-repeat: no-repeat;
  margin: 5px 5px 0 0;
  height: 25px;
  width: 40px;
  cursor: pointer;
}


.sm-footer .sm-footer-text p
{
  margin: 0;
}

.sm-footer .sm-footer-text
{
  display: inline-block;
  color: #111517;

}

.sm-footer .sm-footer-text a:link
{
  text-decoration: none;
  color: #235976;

}

.sm-footer .sm-footer-text a:visited
{
  text-decoration: none;
  color: #2B343B;

}

.sm-footer .sm-footer-text a:hover
{
  text-decoration: none;
  color: #0C1E27;

}
/* end Footer */

/* begin PageFooter */
.sm-page-footer, .sm-page-footer a, .sm-page-footer a:link, .sm-page-footer a:visited, .sm-page-footer a:hover
{
  font-family: Arial;
  font-size: 10px;
  letter-spacing: normal;
  word-spacing: normal;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
  color: #276282;
}

.sm-page-footer
{
  margin: 1em;
  text-align: center;
  text-decoration: none;
  color: #485561;
}
/* end PageFooter */

/* begin LayoutCell, sidebar1 */
.sm-content-layout .sm-sidebar1
{
  background-color: #D7E1EA;
  width: 25%;
}
/* end LayoutCell, sidebar1 */

/* begin LayoutCell, content */
.sm-content-layout .sm-content
{
  width: 75%;
}
.sm-content-layout .sm-content .sm-block
{
  background-color: #D7E1EA;
}
.sm-content-layout .sm-content-wide
{
  width: 100%;
}
/* end LayoutCell, content */

.overview-table .sm-layout-cell
{
    width:33%;
}

.overview-table-inner 
{
    margin:10px;
}

table.table
{
    width:100%;
    border-collapse:collapse;
    table-layout:fixed;
    text-align:left;
    vertical-align:top;
}

table.table, table.table tr, table.table td
{
    border:none;
    margin:0;
    padding:0;
    background-color:Transparent;
}

img.image
{
    margin:0;
    padding:0;
    border:none;
}

div.foto-produto
{
    float:left;    
    border:dashed 1px gray;
    padding:5px;
    width:181px;
    margin:5px;
}

div.foto-produto img
{
    width:93%;
}
div.foto-produto a
{
    padding:5px;
}