body
{
    font-family: Verdana, Sans-Serif;
}
p
{
    font-size: 26px;
}
.vermelho
{
    color: Red;
}
.negrito
{
    font-weight: bold;
}
#menu
{
    font-variant: small-caps;
    display: inline-block;
}
#menu, #menu li
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#menu > li
{
    display: inline-block;
    margin: 10px;
}
#menu > li > a
{
    display: inline-block;
    padding: 10px;
    border: solid 1px gray;
    border-radius: 5px;
    text-decoration: none;
}
#menu > li > a:hover
{
    background-color: #eee;
    color: #333;
}
#pagina
{
    width: 920px;
    margin: 0 auto;
    border-left: solid 1px silver;
    border-right: solid 1px silver;
    padding: 0, 20px;
}
div.centralizado
{
    text-align: center;
}
