<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="ControleUsuariosConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Dados.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <authentication mode="Forms" />
    <compilation debug="true" targetFramework="4.0" />

    <membership defaultProvider="MeuMembershipProvider">
      <providers>
        <clear/>
        <add name="MeuMembershipProvider"
          type="System.Web.Security.SqlMembershipProvider"
          connectionStringName="ControleUsuariosConnectionString"
          enablePasswordRetrieval="false"
          enablePasswordReset="true"
          requiresQuestionAndAnswer="false"
          applicationName="ControleUsuarios"
          requiresUniqueEmail="true"
          passwordFormat="Hashed"
          minRequiredPasswordLength="6"
          minRequiredNonalphanumericCharacters="0"
          passwordAttemptWindow="10"
          maxInvalidPasswordAttempts="5" />
      </providers>
    </membership>

    <roleManager defaultProvider="MeuRoleProvider" enabled="true">
      <providers>
        <clear/>
        <add name="MeuRoleProvider"
             type="System.Web.Security.SqlRoleProvider"
             connectionStringName="ControleUsuariosConnectionString"
             applicationName="ControleUsuarios" />
      </providers>
    </roleManager>

    <profile defaultProvider="MeuProfileProvider">
      <providers>
        <clear />
        <add name="MeuProfileProvider"
            type="System.Web.Profile.SqlProfileProvider"
            connectionStringName="ControleUsuariosConnectionString"
            applicationName="ControleUsuarios" />
      </providers>
      <properties>
        <add name="NomeCompleto" type="String" />
        <add name="Endereco" type="String" />
        <add name="Cidade" type="String"/>
      </properties>
    </profile>


  </system.web>

</configuration>
