/* begin Page */
#sm-page-background-glare-image
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+smGetStyleUrl()+"images/page_gl.png',sizingMethod='crop')");
}

img
{
  filter: expression(smFixPNG(this));
}

/* end Page */

/* begin Box, Sheet */
.sm-sheet, .sm-sheet-body
{
  zoom: 1;
}

.sm-sheet-body
{
  position: static;
}

.sm-sheet-tr, .sm-sheet-tl, .sm-sheet-br, .sm-sheet-bl, .sm-sheet-tc, .sm-sheet-bc,.sm-sheet-cr, .sm-sheet-cl
{
  font-size: 1px;
  background: none;
}

.sm-sheet-tr, .sm-sheet-tl, .sm-sheet-br, .sm-sheet-bl
{
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + smGetStyleUrl()+"images/sheet_s.png',sizingMethod='scale')");
}

.sm-sheet-tl
{
  clip: rect(auto 38px 38px auto);
}

.sm-sheet-tr
{
  left: expression(this.parentNode.offsetWidth-76+'px');
  clip: rect(auto auto 38px 38px);
}

.sm-sheet-bl
{
  top: expression(this.parentNode.offsetHeight-76+'px');
  clip: rect(38px 38px auto auto);
}

.sm-sheet-br
{
  top: expression(this.parentNode.offsetHeight-76+'px');
  left: expression(this.parentNode.offsetWidth-76+'px');
  clip: rect(38px auto auto 38px);
}

.sm-sheet-tc, .sm-sheet-bc
{
  width: expression(this.parentNode.offsetWidth-76+'px');
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + smGetStyleUrl()+"images/sheet_h.png',sizingMethod='scale')");
}

.sm-sheet-tc
{
  clip: rect(auto auto 38px auto);
}

.sm-sheet-bc
{
  top: expression(this.parentNode.offsetHeight-76+'px');
  clip: rect(38px auto auto auto);
}

.sm-sheet-cr, .sm-sheet-cl
{
  height: expression(this.parentNode.offsetHeight-76+'px');
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + smGetStyleUrl()+"images/sheet_v.png',sizingMethod='scale')");
}

.sm-sheet-cr
{
  left: expression(this.parentNode.offsetWidth-76+'px');
  clip: rect(auto auto auto 38px);
}

.sm-sheet-cl
{
  clip: rect(auto 38px auto auto);
}

.sm-sheet-cc
{
  font-size: 1px;
  width: expression(this.parentNode.offsetWidth-76+'px');
  height: expression(this.parentNode.offsetHeight-76+'px');
  background-color: #FFFFFF;
}
#sm-page-background-simple-gradient, #sm-page-background-gradient, #sm-page-background-glare
{
  width: expression(document.body.clientWidth > 900 ? "100%" : "900px");
}
/* end Box, Sheet */

/* begin Header */
div.sm-header-png
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + smGetStyleUrl()+"images/header.png',sizingMethod='crop')");
}
/* end Header */

/* begin Layout */
div.sm-content-layout
{
  display: block;
  zoom: 1;
  overflow: hidden;
}
/* end Layout */

/* begin Box, Block, VMenuBlock */
.sm-vmenublock, .sm-vmenublock-body
{
  zoom: 1;
}

.sm-vmenublock-body
{
  position: static;
}
/* end Box, Block, VMenuBlock */

/* begin BlockHeader, VMenuBlockHeader */
.sm-vmenublockheader
{
  zoom: 1;

}

.sm-vmenublockheader .l, .sm-vmenublockheader .r
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + smGetStyleUrl()+"images/vmenublockheader.png',sizingMethod='crop')");
}

.sm-vmenublockheader .r
{
  left: expression(this.parentNode.offsetWidth-880+'px');
  clip: rect(auto auto auto 856px);
}

.sm-vmenublockheader .l
{
  width: expression(this.parentNode.offsetWidth-24+'px');
}
/* end BlockHeader, VMenuBlockHeader */

/* begin Box, Box, VMenuBlockContent */
.sm-vmenublockcontent, .sm-vmenublockcontent-body
{
  zoom: 1;
}

.sm-vmenublockcontent-body
{
  position: static;
}
.sm-vmenublockcontent, .sm-vmenublockcontent-body
{
  zoom: 1;
}

.sm-vmenublockcontent-body
{
  position: static;
}
/* end Box, Box, VMenuBlockContent */

/* begin VMenuItem */
ul.sm-vmenu .sm-vmenu-separator, ul.sm-vmenu .sm-vmenu-separator-span, ul.sm-vmenu li.sm-vsubmenu-separator, ul.sm-vmenu .sm-vsubmenu-separator-span
{
  zoom: 1;
  overflow: hidden;
  float: left;
  width: 100%;
}

ul.sm-vmenu a:hover
{
  visibility: visible;
}

ul.sm-vmenu li
{
  zoom:1;
}

ul.sm-vmenu a .r, ul.sm-vmenu a .l
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + smGetStyleUrl()+"images/vmenuitem.png',sizingMethod='crop')");
}

ul.sm-vmenu a .r
{
  left: expression(this.parentNode.offsetWidth-910+'px');
  clip: rect(auto auto auto 878px);
}

ul.sm-vmenu a .l
{
  width: expression(this.parentNode.offsetWidth-32+'px');
}

/* end VMenuItem */

/* begin VMenuSubItem */
ul.sm-vmenu ul a
{
  color: #485561 !important;
}

ul.sm-vmenu ul a.active
{
  color: #245C7A !important;
}

ul.sm-vmenu ul a:hover {
  color: #3B576D !important;
}	

ul.sm-vmenu ul a:hover span, ul.sm-vmenu ul a:hover span span
{
  color: #3B576D !important;
}	
/* end VMenuSubItem */

/* begin Box, Block */
.sm-block, .sm-block-body
{
  zoom: 1;
}

.sm-block-body
{
  position: static;
}
/* end Box, Block */

/* begin Box, BlockContent */
.sm-blockcontent, .sm-blockcontent-body
{
  zoom: 1;
}

.sm-blockcontent-body
{
  position: static;
}
.sm-blockcontent-body ul li
{
  height: 1%;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + smGetStyleUrl()+"images/blockcontentbullets.png',sizingMethod='crop')");
}

/* end Box, BlockContent */

/* begin Button */
.sm-button-wrapper, .sm-button-wrapper .l, .sm-button-wrapper .r
{
  zoom: 1;
}

.sm-button-wrapper .sm-button
{
  float: left;
}

.sm-button-wrapper .l, .sm-button-wrapper .r
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + smGetStyleUrl()+"images/button.png',sizingMethod='crop')");
}

.sm-button-wrapper .r
{
  left: expression(this.parentNode.offsetWidth-425+'px');
  clip: rect(auto auto auto 413px);
}

.sm-button-wrapper .l
{
  width: expression(this.parentNode.offsetWidth-12+'px');
}
/* end Button */

/* begin Box, Post */
.sm-post, .sm-post-body
{
  zoom: 1;
}

.sm-post-body
{
  position: static;
}

.sm-post-tr, .sm-post-tl, .sm-post-br, .sm-post-bl, .sm-post-tc, .sm-post-bc,.sm-post-cr, .sm-post-cl
{
  font-size: 1px;
  background: none;
}

.sm-post-tr, .sm-post-tl, .sm-post-br, .sm-post-bl
{
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + smGetStyleUrl()+"images/post_s.png',sizingMethod='scale')");
}

.sm-post-tl
{
  clip: rect(auto 6px 6px auto);
}

.sm-post-tr
{
  left: expression(this.parentNode.offsetWidth-12+'px');
  clip: rect(auto auto 6px 6px);
}

.sm-post-bl
{
  top: expression(this.parentNode.offsetHeight-12+'px');
  clip: rect(6px 6px auto auto);
}

.sm-post-br
{
  top: expression(this.parentNode.offsetHeight-12+'px');
  left: expression(this.parentNode.offsetWidth-12+'px');
  clip: rect(6px auto auto 6px);
}

.sm-post-tc, .sm-post-bc
{
  width: expression(this.parentNode.offsetWidth-12+'px');
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + smGetStyleUrl()+"images/post_h.png',sizingMethod='scale')");
}

.sm-post-tc
{
  clip: rect(auto auto 6px auto);
}

.sm-post-bc
{
  top: expression(this.parentNode.offsetHeight-12+'px');
  clip: rect(6px auto auto auto);
}

.sm-post-cr, .sm-post-cl
{
  height: expression(this.parentNode.offsetHeight-12+'px');
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + smGetStyleUrl()+"images/post_v.png',sizingMethod='scale')");
}

.sm-post-cr
{
  left: expression(this.parentNode.offsetWidth-12+'px');
  clip: rect(auto auto auto 6px);
}

.sm-post-cl
{
  clip: rect(auto 6px auto auto);
}

.sm-post-cc
{
  font-size: 1px;
  width: expression(this.parentNode.offsetWidth-12+'px');
  height: expression(this.parentNode.offsetHeight-12+'px');
  background-color: #EEF3F6;
}
/* end Box, Post */

/* begin PostContent */
h1
{
  margin: 0.67em 0;
}

h2
{
  margin: 0.8em 0;
}

h3
{
  margin: 1em 0;
}

h4
{
  margin: 1.25em 0;
}

h5
{
  margin: 1.67em 0;
}

h6
{
  margin: 2.33em 0;
}
/* end PostContent */

/* begin PostBullets */
.sm-post ul li, .sm-post ol ul li
{
  height: 1%;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + smGetStyleUrl()+"images/postbullets.png',sizingMethod='crop')");
}

.sm-post ul ol li
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="");
}
/* end PostBullets */

/* begin PostQuote */
blockquote,
.sm-postcontent blockquote
{
  height: 1%;
  background-image: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + smGetStyleUrl()+"images/postquote.png',sizingMethod='crop')");
}
/* end PostQuote */

/* begin Footer */
.sm-footer .sm-footer-background
{
  top: expression(this.parentNode.offsetHeight-150+'px');
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + smGetStyleUrl()+"images/footer.png',sizingMethod='crop')");
  zoom: 1;
  font-size: 1px;
}

.sm-rss-tag-icon
{
  zoom: 1;
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + smGetStyleUrl()+"images/rssicon.png',sizingMethod='crop')");
}

/* end Footer */

/* begin LayoutCell, content */
div.sm-content
{
  width: auto;
}

div.sm-content-layout div.sm-layout-cell, div.sm-content-layout div.sm-layout-cell div.sm-content-layout div.sm-layout-cell
{
  display: block;
  overflow: hidden;
  float: left;
  clear: right;
  margin-bottom: -32000px;
  padding-bottom: 32000px;
}

div.sm-layout-cell div.sm-layout-cell
{
  float: none;
  clear: both;
  margin-bottom: 0;
  padding-bottom: 0;
}/* end LayoutCell, content */