span
{
    color:White;
    background-color:Orange;
}

a.menu
{
    display:block;
    height:25px;
    width:200px;
    font-size:14px;
    font-family:Tahoma;
    background-color:Orange;
    color:White;
    text-decoration:none;
    cursor:pointer;
}

a.menu:hover
{
    text-decoration:underline;
    background-color:#FF3300;
}